*{padding: 0; margin: 0; box-sizing: border-box;}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: "Alata", sans-serif;
}
.project{
    font-family: "Courgette", cursive;
    font-size: 50px;
    letter-spacing: 5px;
    color: #222f3e;
}
.pro a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 8px;
}
#ject{
    text-decoration: none;
    background: #2af714;
    border-radius: 8px;
}
.box{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(88, 224, 242, 0.7);
    z-index: -2;
}
.h-text{
    color: maroon;
    font-family: "Alata", sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    align-items: center;
    padding: 10px 120px;
}
.h-text p{
    font-family: "Tillana", system-ui;
    font-size: 28px;
    margin-bottom: 30px;
    color: black;
}